{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load translation_tags %}

{% block page_title %}
  {% trans 'Cart Detail' %}
{% endblock %}

{% block content %}
  {% trans 'Cart Detail' as cart_detail %}
  {% include 'pages/banner.html' with banner_title=cart_detail %}

  <section class="section" id="cart">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th>حذف</th>
                <th>عکس محصول</th>
                <th>نام محصول</th>
                <th>قیمت</th>
                <th>مقدار</th>
                <th>مجموع</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <button class="btn btn-danger">X</button>
                </td>
                <td>
                  <img src="assets/images/men-01.jpg" width="70" height="88" />
                </td>
                <td>محصول شماره یک</td>
                <td>۱۴۸,۰۰۰ تومان</td>
                <td>
                  <input type="number" class="form-control" value="2" />
                </td>
                <td>۲۹۶,۰۰۰ تومان</td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary">خالی کردن سبد خرید</button>
        </div>
        <div class="col-lg-4">
          <div class="border p-3 rounded">
            <h4 class="text-left">جمع کل</h4>
            <p class="text-left" style="padding-top: 10px; padding-bottom: 10px;">۳۴۶,۰۰۰ تومان</p>
            <a href="checkout.html" class="btn btn-success btn-block">ثبت سفارش</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
