{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load translation_tags %}

{% block page_title %}
  {% trans 'Cart Detail' %}
{% endblock %}

{% block content %}
  {% trans 'Cart Detail' as cart_detail %}
  {% include 'pages/banner.html' with banner_title=cart_detail %}

  <section class="section" id="cart">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th>
                  {% trans 'Delete' %}
                </th>
                <th>
                  {% trans 'Product Image' %}
                </th>
                <th>
                  {% trans 'Product Name' %}
                </th>
                <th>
                  {% trans 'Price' %}
                </th>
                <th>
                  {% trans 'Quantity' %}
                </th>
                <th>
                  {% trans 'Total' %}
                </th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart %}
                <tr>
                  <td>
                    <button class="btn btn-danger">X</button>
                  </td>
                  <td>
                    <img src="{{item.product_obj.images.first.image.url}}" width="70" height="88" />
                  </td>
                  <td>{{item.product_obj.name}}</td>
                  <td>{{item.product_obj.unit_price|convert_currency|translate_number}}</td>
                  <td>
                    <input type="number" class="form-control" value="{{item.quantity}}" />
                  </td>
                  <td>{{item.total_price|convert_currency|translate_number}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <button class="btn btn-primary">{% trans "Empty Cart" %}</button>
        </div>
        <div class="col-lg-4">
          <div class="border p-3 rounded">
            <h4 class="text-left">{% trans "Overall Total" %}</h4>
            <p class="text-left" style="padding-top: 10px; padding-bottom: 10px;">{{cart.get_total_price|convert_currency|translate_number}}</p>
            <a href="checkout.html" class="btn btn-success btn-block">{% trans "Order" %}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
