{% load i18n %}
{% load static %}
{% load humanize %}
{% load translation_tags %}

<aside id="miniCart" class="cart-sidebar">
  <div class="cart-sidebar-header">
    <h3>{% trans 'Cart' %}</h3>
    <button class="close-btn" onclick="toggleMiniCart()">×</button>
  </div>
  <div class="cart-sidebar-content">
    <p id="empty-cart-message" style="display: none;">
      {% trans 'Cart is empty' %}
    </p>
    <ul id="cart-items-list" class="cart-items-list">
      <li class="cart-item">
        <div class="cart-item-container">
          <img src="" alt="#" class="cart-item-image" />
          <div class="cart-item-details">
            <span class="cart-item-name">product name</span>
            <div class="cart-item-info">
              <span class="price">100 &</span>
              <span class="quantity">x 2</span>
            </div>
          </div>
          <button class="remove-btn">×</button>
        </div>
      </li>
    </ul>
    <div class="cart-total">
      <strong>جمع کل:</strong>
      <span id="cart-total-price">0 $</span>
    </div>
    <div class="mini-cart__buttons">
      <a href="/shop" class="continue-shopping-btn">ادامه خرید</a>
      <a href="/checkout" class="checkout-btn">پرداخت</a>
    </div>
  </div>
</aside>
