{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load translation_tags %}

{% block page_title %}
  {% trans 'Order create' %}
{% endblock %}

{% block content %}
  <!-- ***** Main Banner Area Start ***** -->
  {% trans 'Order Create' as order_create %}
  {% include 'pages/banner.html' with banner_title=order_create %}
  <!-- ***** Main Banner Area End ***** -->

  <!-- ***** Checkout Area Start ***** -->
  <section class="section" id="checkout">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="section-heading" style="padding-bottom: 20px;">
            <h2>{% trans "Order Details" %}</h2>
          </div>
          <form action="" method='post'>
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="cart-btn">{% trans "Checkout" %}</button>
          </form>
        </div>
        <div class="col-lg-4">
          <h2 style="padding-bottom: 20px;">{% trans "Your Order" %}</h2>
          <div class="border p-3 rounded">
            <table class="table">
              <thead>
                <tr>
                  <th>{% trans "Product" %}</th>
                  <th>{% trans "Quantity" %}</th>
                  <th>{% trans "Final Price" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart %}
                <tr>
                  <td>{{item.product_obj.name}}</td>
                  <td>{{item.quantity|translate_number}}</td>
                  <td>{{item.total_price|convert_currency|translate_number}}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>{% trans "Overall Total" %}</th>
                  <td colspan="2">{{cart.get_total_price|convert_currency|translate_number}}</td>
                </tr>
              </tfoot>
            </table>
            {% comment %} <a href="#" class="btn btn-success btn-block">{% trans "Payment" %}</a> {% endcomment %}
            <div class="checkout-payment">
              <h2 class="py-5">{% trans "Payment Method" %}</h2>
              <form action="#" class="payment-form">
                <div class="payment-group mb--10">
                  <div class="payment-radio">
                    <input type="radio" value="bank" name="payment-method" id="bank" checked />
                    <label class="payment-label" for="cheque">{% trans "Zarin Pal online portal" %}</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Checkout Area End ***** -->
{% endblock %}
