{% load static %}
{% load i18n %}
{% load translation_tags %}

<div class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-heading">
          <h2>{% trans "By Subscribing To Our Newsletter You Can Get 30% Off" %}</h2>
          <span>{% trans "Details to details is what makes Tara Tara Store different from the other themes." %}</span>
        </div>
        <form id="subscribe" action="" method="get">
          <div class="row">
            <div class="col-lg-5">
              <fieldset>
                <input name="name" type="text" id="name" placeholder="{% trans "Your Name" %}" required="" />
              </fieldset>
            </div>
            <div class="col-lg-5">
              <fieldset>
                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="{% trans "Your Email Address" %}" required="" />
              </fieldset>
            </div>
            <div class="col-lg-2">
              <fieldset>
                <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-6">
            <ul>
              <li>
                {% trans 'Store Location' %}:<br /><span>{% trans 'Muscat, Oman' %}</span>
              </li>
              <li>
                {% trans 'Phone' %}:<br /><span>{{ 97098010|translate_number }}</span>
              </li>
              <li>
                {% trans 'Office Location' %}:<br /><span>{% trans 'Muscat, Oman' %}</span>
              </li>
            </ul>
          </div>
          <div class="col-6">
            <ul>
              <li>
                {% trans 'Work Hours' %}:<br /><span>{{ 9|translate_number }}:{{ 30|translate_number }} {% trans 'AM' %}- {{ 10|translate_number }}:{{ 30|translate_number }} {% trans 'PM' %} {% trans 'Daily' %}</span>
              </li>
              <li>
                {% trans 'Email' %}:<br /><span>TaraStore@gmail.com</span>
              </li>
              <li>
                {% trans 'Social Media' %}:<br /><span><a href="#">{% trans 'Facebook' %}</a>, <a href="#">{% trans 'Instagram' %}</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
