{% load i18n %}
{% load static %}
{% load translation_tags %}
{% load checking_url_tags %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <title>
      {% block page_title %}

      {% endblock %}
    </title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />

    <link rel="stylesheet" href="{% static 'css/tarastore.css' %}" />

    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}" />

    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}" />

    <link rel="stylesheet" href="{% static 'css/flex-slider.css' %}" />

    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
  </head>
  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav d-flex align-items-center justify-content-between">
            <!-- ***** Logo Start ***** -->
            <div class="logo-wrapper">
              <a href="{% url 'product_list' %}" class="logo"><img src="{% static 'images/TARAStore-logo1.png' %}" alt="Logo" /></a>
            </div>
            <!-- ***** Logo End ***** -->

            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section">
                <a href="{% url 'home' %}" class="active">{% trans 'Home' %}</a>
              </li>
              <li class="scroll-to-section">
                {% with section_name='men' %}
                  {% url 'product_men' as product_men_url %}
                  <a href="{% dynamic_link section_name product_men_url %}">{% trans "Men's" %}</a>
                {% endwith %}
              </li>
              <li class="scroll-to-section">
                {% url 'product_women' as product_women_url %}
                <a href="{% dynamic_link 'women' product_women_url %}">{% trans "Women's" %}</a>
              </li>
              <li class="scroll-to-section">
                {% url 'product_kids' as product_kids_url %}
                <a href="{% dynamic_link 'kids' product_kids_url %}">{% trans "Kid's" %}</a>
              </li>
              <li class="submenu">
                <a href="javascript:;">{% trans 'Pages' %}</a>
                <ul>
                  <li>
                    <a href="{% url 'product_list' %}">{% trans 'Products' %}</a>
                  </li>
                  <li>
                    <a href="{% url 'product_create' %}">{% trans 'Add Product' %}</a>
                  </li>
                  <li>
                    <a href="{% url 'my_orders' %}">{% trans 'My Orders' %}</a>
                  </li>
                  <li>
                    <a href="{% url 'aboutus' %}">{% trans 'About Us' %}</a>
                  </li>
                  <li>
                    <a href="{% url 'contactus' %}">{% trans 'Contact Us' %}</a>
                  </li>
                </ul>
              </li>
              {% comment %} <li class="submenu">
                <a href="javascript:;">{% trans 'Features' %}</a>
                <ul>
                  <li>
                    <a href="#">Features Page 1</a>
                  </li>
                  <li>
                    <a href="#">Features Page 2</a>
                  </li>
                  <li>
                    <a href="#">Features Page 3</a>
                  </li>
                </ul>
              </li> {% endcomment %}
              <li class="scroll-to-section">
                {% url 'product_list' as product_list_url %}
                <a href="{% dynamic_link 'explore' product_list_url %}">{% trans 'Explore' %}</a>
              </li>
              <li class="submenu">
                <a href="javascript:;">{% trans 'Languages' %}</a>
                <ul id="language-list">
                  {% get_available_languages as LANGUAGES %}
                  {% for lang_code, lang_name in LANGUAGES %}
                    <li>
                      <a href="javascript:;" data-lang="{{ lang_code }}">{{ lang_name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
              <li class="scroll-to-section cart-wrapper">
                <a href="#miniCart">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="cart-count">{{ cart|length|translate_number }}</span>
                </a>
              </li>
              <li class="submenu">
                <a href="javascript:;">
                  <i class="fa fa-user"></i>
                  {% if user.is_authenticated %}
                    <span>{{ user.username }}</span>
                  {% endif %}
                </a>
                <ul>
                  {% if user.is_authenticated %}
                    <li>
                      <a href="#profile">{% trans 'Profile' %}</a>
                    </li>
                    <li>
                      <a href="{% url 'account_logout' %}">{% trans 'Logout' %}</a>
                    </li>
                  {% else %}
                    <li>
                      <a href="{% url 'account_login' %}">{% trans 'Login' %}</a>
                    </li>
                    <li>
                      <a href="{% url 'account_signup' %}">{% trans 'Sign Up' %}</a>
                    </li>
                  {% endif %}
                </ul>
              </li>
              <li class="scroll-to-section">
                <form class="d-flex ms-auto" method="GET" action="{% url 'product_search' %}">
                  <input class="form-control me-2" type="search" placeholder="{% trans 'Search' %}..." aria-label="Search" name="q" value="{{ query }}" />
                  <button class="btn btn-outline-success" type="submit">{% trans 'Search' %}</button>
                </form>
              </li>
            </ul>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="content" style="padding-top: 110px;">
      {% if messages %}
        <div class="container">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}

      {% block content %}
      
      {% endblock %}

      {% include 'cart/cart_sidebar.html' %}
    </div>

    <!-- ***** Footer Start ***** -->
    {% include 'pages/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/quantity.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/cart-sidebar.js' %}"></script>

    {% comment %} <script>
      $(function () {
        var selectedClass = ''
        $('p').click(function () {
          selectedClass = $(this).attr('data-rel')
          $('#portfolio').fadeTo(50, 0.1)
          $('#portfolio div')
            .not('.' + selectedClass)
            .fadeOut()
          setTimeout(function () {
            $('.' + selectedClass).fadeIn()
            $('#portfolio').fadeTo(50, 1)
          }, 500)
        })
      })
    </script> {% endcomment %}

    <input type="hidden" id="csrf_token" value="{{ csrf_token }}" />
    <script>
      document.getElementById('language-list').addEventListener('click', function (event) {
        if (event.target.hasAttribute('data-lang')) {
          var selectedLang = event.target.getAttribute('data-lang')
      
          var form = document.createElement('form')
          form.method = 'POST'
          form.action = "{% url 'set_language' %}"
      
          var csrfToken = document.createElement('input')
          csrfToken.type = 'hidden'
          csrfToken.name = 'csrfmiddlewaretoken'
          csrfToken.value = document.getElementById('csrf_token').value
          form.appendChild(csrfToken)
      
          var languageInput = document.createElement('input')
          languageInput.type = 'hidden'
          languageInput.name = 'language'
          languageInput.value = selectedLang
          form.appendChild(languageInput)
      
          document.body.appendChild(form)
          form.submit()
        }
      })
    </script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper('.mySwiper', {
        loop: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        }
      })
    </script>
  </body>
</html>
