{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load translation_tags %}
{% load humanize %}

{% block page_title %}
  {% trans 'Product detail' %}
{% endblock %}

{% block content %}
  <!-- ***** Main Banner Area Start ***** -->
  {% trans 'Product Details' as product_details %}
  {% include 'pages/banner.html' with banner_title=product_details %}
  <!-- ***** Main Banner Area End ***** -->

  <!-- ***** Product Area Starts ***** -->
  <section class="section" id="product">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="left-images">
            {% if product.images %}
              {% for img in product.images.all %}
                <img src="{{ img.image.url }}" style="width: 690px; height: 700px;" alt="{{ product.name }}" />
              {% empty %}
                <img src="{% static 'images/default.jpg' %}" class="d-block w-100" style="width: 370px; height: 390px;" alt="No Image" />
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="col-lg-4">
          <div class="right-content">
            <div>
              <a href="{% url 'product_update' product.id %}" class="btn btn-success">{% trans 'Edit' %}</a>
              <a href="{% url 'product_delete' product.id %}" class="btn btn-success">{% trans 'Delete' %}</a>
            </div>
            <h6 style="padding-top: 10px;">{{ product.name }}</h6>
            {% trans "Stock" %}: {{product.inventory|translate_number}}
            <span class="price">{{ product.unit_price|convert_currency|translate_number }}</span>
            {% include 'products/stars.html' %}
            {% if product.short_description %}
              <span>{{ product.short_description|safe }}</span>
            {% endif %}
            <div class="quote">
              <i class="fa fa-quote-left"></i><p>{{ product.description|safe }}</p>
            </div>
            <form method="post" action="{% url 'cart:cart_add' product.id %}">
              {% csrf_token %}

              <div class="quantity-content">
                <div class="left-content">
                  <h6>{% trans 'No. of Orders' %}</h6>
                </div>
                <div class="right-content">
                  <div class="quantity buttons_added">
                    <input type="button" value="-" class="custom-minus"/>                    
                    {{ add_to_cart_form.quantity }}
                    <input type="button" value="+" class="custom-plus"/>
                  </div>
                </div>
              </div>
              <div class="total">
                <h4>{% trans 'Total' %}: <span id="total-price">{{ product.unit_price|convert_currency|translate_number }}</span></h4>
                <div class="main-border-button">
                  <button type="submit" class="cart-btn">{% trans 'Add To Cart' %}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Product Area Ends ***** -->

  <!-- ***** Comments Section Starts ***** -->
  <section class="section" id="comments">
    <div class="container">
      <h3>{% trans 'Comments List' %}({{ product.comments.count|translate_number }})</h3>
      <ul>
        {% for comment in product.comments.all %}
          <li>
            <strong>{{ comment.author.username }}:</strong> {{ comment.datetime_created|translate_datetime|translate_number }}
            <div>
              <p>{{ comment.body|safe|linebreaks }}</p>
            </div>
            <ul class="stars">
              <div class="star-rating">
                {% for star in '54321'|make_list %}
                  {% if star|add:0 <= comment.stars %}
                    <span style="color: gold;">&#9733;</span>
                  {% else %}
                    <span style="color: grey;">&#9734;</span>
                  {% endif %}
                {% endfor %}
                <span>({{ comment.stars|translate_number }})</span>
              </div>
            </ul>
          </li>
          <br />
        {% empty %}
          <li>
            {% trans 'No comments available' %}.
          </li>
        {% endfor %}
      </ul>
      {% if user.is_authenticated %}
        <form action="" method="POST">
          {% csrf_token %}
          {{ comment_form.media }}
          {{ comment_form.body|as_crispy_field }}

          <div>
            <span>{% trans 'Product Rating' %}:</span>
            <div class="star-rating">
              {% for star in '54321' %}
                <input type="radio" id="star{{ star }}" name="stars" value="{{ star }}" />
                <label for="star{{ star }}">&#9733;</label>
              {% endfor %}
            </div>
          </div>

          <input type="submit" value="{% trans 'Send' %}" />
        </form>
      {% else %}
        <p>
          <strong>*{% trans 'You must be logged in to leave a comment' %}.</strong>
        </p>
      {% endif %}
    </div>
  </section>
  <!-- ***** Comments Section Ends ***** -->

  <script>
    window.productMaxQuantity = {{ product.inventory }};
    window.unitPrice = {{ product.unit_price }};
  </script>
{% endblock %}
