{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load translation_tags %}

{% block page_title %}
  {% trans 'Delete' %} {{ product.name }}
{% endblock %}

{% block content %}
  <form action="{% url "product_delete" product.pk %}" method="post">
    {% csrf_token %}
    <h2>{% trans 'Delete' %} {{ product.name }}</h2>
    <p style="padding-top: 20px;">
      {% blocktrans with product_name=product.name %}Are you sure to delete {{ product_name }}?{% endblocktrans %}
    </p>
    <input class="btn btn-danger" type="submit" value="{% trans "Yes, I'm Sure" %}." />
  </form>
{% endblock %}
