{% extends '_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% comment %} <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script> {% endcomment %}

{% block page_title %}
  {% trans 'Create Product' %}
{% endblock %}

{% block content %}
  <!-- ***** Main Banner Area Start ***** -->
  {% trans 'Add Product' as add_product %}
  {% include 'pages/banner.html' with banner_title=add_product %}
  <!-- ***** Main Banner Area End ***** -->

  <div class="container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      {{ form|crispy }}
      <div>
        <p>
          <label for="id_images">{% trans 'Product Images' %}</label>
        </p>
        <input label="Product Images" type="file" name="images" id="id_images" multiple />
      </div>
      <div class="content" style="padding-top: 20px;">
        <input type="submit" value="{% trans 'Submit' %}" />
      </div>
    </form>
  </div>

  {% comment %} {% include 'cart/cart_sidebar.html' %} {% endcomment %}
{% endblock %}
