{% extends '_base.html' %}
{% load i18n %}
{% load translation_tags %}

{% block page_title %}
  {% trans "Men's Product" %}
{% endblock %}

{% block content %}

  <!-- ***** Main Banner Area Start ***** -->
  {% comment %} <div class="page-heading" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-content">
            <h2>Check Our Products</h2>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
  <!-- ***** Main Banner Area End ***** -->

  <!-- ***** Products Area Starts ***** -->
  <section class="section" id="products">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Our Latest Products</h2>
            <span>Check out all of our products.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% for product in products_men %}
          <div class="col-lg-4">
            <div class="item">
              <div class="thumb">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="{{ product.get_absolute_url }}"><i class="fa fa-eye"></i></a>
                    </li>
                    <li>
                      <a href="single-product.html"><i class="fa fa-star"></i></a>
                    </li>
                    <li>
                      <a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                  </ul>
                </div>
                {% if product.image %}
                  <img src="{{ product.image.url }}" alt="{{ product.name }}" />
                {% endif %}
              </div>
              <div class="down-content">
                <h4>{{ product.name }}</h4>
                <span>{{ product.unit_price }} {% trans '$' %}</span>
                <ul class="stars">
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                  <li>
                    <i class="fa fa-star"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}

        <!-- ***** Main Banner Area Start ***** -->
        {% include "pages/pagination.html" %}
        <!-- ***** Main Banner Area End ***** -->
      </div>
    </div>
  </section>
  <!-- ***** Products Area Ends ***** -->
{% endblock %}
